<link rel="stylesheet" href="css/ratchet.min.css"/>
<link rel="stylesheet" href="css/common/common.css"/>
<link rel="stylesheet" href="css/common/composition.css"/>
<header class="bar bar-nav login_bar">
    <a class="icon icon-left-nav pull-left"></a>
    <a class="icon icon-check pull-right" id="submit"></a>
    <h1 class="title">设置新密码</h1>
</header>
<div class="content bg_none">
    <form action="" id="login_form">
        <div class="formBox">
            <div class="item">
                <input type="password" name="pwd" placeholder="新密码" maxlength="18" id="pwd" />
            </div>
            <div class="item">
                <input type="password" name="rePwd" placeholder="再次输入" maxlength="18" id="rePwd" />
            </div>
        </div>
    </form>

</div>