<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0,  user-scalable=no"><!---缩放比例设置，禁止用户缩放-->
    <meta name="format-detection" content="telephone=no" /><!---忽略页面中的数字识别为电话号码-->
    <meta name="apple-mobile-web-app-capable" content="yes" /><!---网站开启对 web app 程序的支持-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--改变顶部状态条的颜色-->
    <title>小租租客</title>
    <link rel="stylesheet" href="css/ratchet.min.css"/>
    <link rel="stylesheet" href="css/common/common.css"/>
    <link rel="stylesheet" href="css/common/composition.css"/>
    <link rel="stylesheet" href="css/page/center.css"/>
</head>
<body>
    <div class="content noHeader hasFooter bg_f1">
        <div class="headerImg tc">
            <img src="" alt=""/>
            <h4 class="c_fff">果呦奶茶</h4>
        </div>
        <nav class="bar bar-tab center-bar-tab">
            <a class="tab-item" href="pages/center/myBalance.html">
                <span class="icon icon-home"></span>
                <span class="tab-label">我的余额</span>
            </a>
            <a class="tab-item" href="pages/center/myOrders.html">
                <span class="icon icon-person"></span>
                <span class="tab-label">我的预约</span>
            </a>
            <a class="tab-item" href="pages/center/myPublish.html">
                <span class="icon icon-star-filled"></span>
                <span class="tab-label">我的发布(15)</span>
            </a>
        </nav>
        <ul class="table-view mt20">
            <li class="table-view-cell">
                <a class="navigate-right" href="pages/user/information.html">
                    个人资料
                </a>
            </li>
         
        </ul>
        <ul class="table-view mt20">
            <li class="table-view-cell">
                <a class="navigate-right" href="center/myMessage.html">
                    消费记录
                </a>
            </li>
            <li class="table-view-cell">
                <a class="navigate-right" href="pages/user/changePassword.html">
                    更改密码
                </a>
            </li>
        </ul>
        <div class="plr30 mb100">
            <button class="btn btn-negative btn-block btn-outlined">退出登录</button>
        </div>
    </div>
    <nav class="bar bar-tab">
        <a class="tab-item active" href="index.html">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item" href="publish.html">
            <span class="icon icon-fabu"></span>
            <span class="tab-label">发布</span>
        </a>
        <!--<a class="tab-item" href="nearby.html">
            <span class="icon icon-location"></span>
            <span class="tab-label">附近的人</span>
        </a>-->
        <a class="tab-item" href="userCenter.html">
            <span class="icon icon-yonghu"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <script type="text/javascript" src="scripts/frame/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="scripts/frame/template.js"></script>
    <script type="text/javascript" src="scripts/common/Global.js"></script>
    <script type="text/javascript" src="scripts/common/common.js"></script>
</body>
</html>