/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  font: 12px/1.5 sans-serif;
  background-color: #F5F5F5;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
li {
  list-style: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input:focus,
button:focus {
  outline: none;
}
a {
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
input,
img {
  border: 0;
  vertical-align: middle;
}
/* 清除浮动 */
.clearfix,
.clear {
  display: inline-table;
  zoom: 1;
}
* html .clearfix,
* html .clear {
  height: 1%;
}
* html .clearfix,
* html .clear {
  zoom: 1;
}
.clearfix,
.clear {
  display: block;
}
.clear {
  clear: both;
}
.clearfix:after,
.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0px;
}
/*字体颜色*/
/*头部*/
