/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
/**
	m/m_bar
	左下角工具条
*/
.m-bar {
  position: absolute;
  z-index: 10;
}
.m-bar-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.m-bar-content {
  position: fixed;
  z-index: 10;
  left: 20px;
  bottom: 65px;
  text-align: center;
}
.m-bar-content .m-bar-btn {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: #66cc22;
  border: 2px #fff solid;
  z-index: 1001;
}
.m-bar-content .m-bar-icon {
  margin: 0;
  display: inline-block;
  height: 100%;
}
.m-bar-content a {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  display: block;
  background: #ffffff;
  border-radius: 100%;
  font-size: 12px;
  color: #666;
  -webkit-transform: translate(0, 0) translateZ(0);
  -moz-transform: translate(0, 0) translateZ(0);
  -o-transform: translate(0, 0) translateZ(0);
  transform: translate(0, 0) translateZ(0);
  -webkit-transition: -webkit-transform ease-out 0.25s;
  -moz-transition: -moz-transform ease-out 0.25s;
  -ms-transition: -ms-transform ease-out 0.25s;
  -o-transition: -o-transform ease-out 0.25s;
  transition: transform ease-out 0.25s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome 和 Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
.m-bar-content p {
  line-height: normal;
  margin-top: -2px;
}
.m-bar-content .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: normal;
  margin-top: 5px;
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
.m-bar-content .icon-home {
  background-position: 0 -309px;
}
.m-bar-content .icon-me {
  background-position: -23px -309px;
}
.m-bar-content .icon-order {
  background-position: -48px -309px;
}
