/***************************************************
* feature  :  商品详情页，阶梯价格;
* update   :  2015/02/03;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
/***************************************************
* feature  :  变量配置;
* update   :  2015/02/05;
* use      :  ;
* extend   :  ;
* example  :  ;
* desc     :  ;
* feedback :  此处填入 issue, 并请附带以下信息[os_version, browser_version, page_path, issue_description]
*          -  demo => [windows 7, IE 8, http://diligrp.com/icon.html, 在不定height下未能垂直居中];
****************************************************/
.bg-img {
  background: url('../../images/icon/icon.png') no-repeat;
  background-size: 150px;
}
.m-step {
  overflow: hidden;
  position: relative;
  padding: 11px 0;
}
.m-step:after {
  left: auto;
  right: -4px;
  border: 8px solid #ddd;
  border-color: transparent transparent transparent #ddd;
  background: none;
  width: 0;
  height: 0;
  margin-top: -7px;
  font-size: 0;
}
.m-step li {
  float: left;
  text-align: left;
  padding: 0 5px;
  position: relative;
  min-width: 85px;
  box-sizing: border-box;
}
.m-step .desc,
.m-step .price {
  font-size: 14px;
  color: #6c2;
  display: block;
  padding-bottom: 8px;
}
.m-step .price {
  font-size: 18px;
  font-style: normal;
  padding: 0;
  line-height: 1.1;
}
